@{
    ViewData["Title"] = "About Us";
}
<h1>About Us</h1>

<p>Sarahah helps you in discovering your strengths and areas for improvement by receiving honest constructive feedback from your employees and your friends</p>
